html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100vh;
    min-height: 100vh;
}
.container-heading {
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    height: 75vh;
    padding: 50px 80px 80px 80px;
    min-width: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#logo-top {
    width: 15%;
    height: 15%;
}

#try {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 60px 15px 60px;
    border-radius: 25px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    border: none;
    box-shadow: 0px 5px 5px lightgray;
    font-family: 'Open Sans', sans-serif;
}

.mockup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
   
}

#mockup {
    padding: 20px 0px 0px 60px;
    width: 54%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: hsl(208, 11%, 55%);
}

#about {
    line-height: 1.8rem;;
}

#started {
    font-size: 15px;
    padding: 20px 80px 20px 80px;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    margin-top: 20px;
    
}

.container-main {
    display: flex;
    flex-direction: column;
    padding: 50px 80px 80px 80px;
    margin-bottom: 170px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 3px grey;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 55px 40px 55px 100px;
    box-shadow: 1px 1px 10px lightgray;
}

.sub-info {
    width: 43%;
}

#main {
    width: 35%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: hsl(192, 100%, 9%);
}

#started-two {
    font-size: 16px;
    padding: 25px 100px 25px 100px;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
   
    font-size: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 10px grey;
    border-radius: 25px;
    width: 50%;
    background-color: white;;
    position: relative;
    left: 18%;
    margin-top: -170px;
    color: hsl(192, 100%, 9%);
    padding: 35px 70px 35px 70px;

}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
}
.container4 {
    background-color:hsl(192, 100%, 9%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 100px;
}
.sub-container4{
    display: flex;
    flex-direction:row;
}

#logo2 {
    filter: grayscale(100%) brightness(1000%);
    margin-bottom: 40px;
    margin-top: 100px;
}

.address {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#location, #phone, #email{
    margin-right: 20px;
    width: 1rem;
    height: 1rem;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: hsl(193, 100%, 96%)
}
.container-one {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 100px;
    justify-content: center;
    
}

.container-end {
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-right: 5px;
}

a {
    color: hsl(193, 100%, 96%);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    line-height: 2.5rem;
    
}

.sub-container5 {
    display: flex;
    justify-content: flex-end;
    
}
#copyright {
    font-size: 13px;
    margin-right: 50px;
}

.logos {
    margin-right: 100px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
 